$font-stack:    Helvetica, sans-serif;
$app-color: #81ECEC;

.login-container {
    font: 100% $font-stack;
    font-size: 48;
    max-width: 100vw!important;
    max-height: 100vh!important;
    font-color: #000000;
    background: $app-color;
}
